@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

/* font-family: 'Roboto Mono', monospace; */

$font1:'Roboto Mono';

$color1: indianred;
$color2: #0F0326;
$color3: white;

@mixin flex-horizontal-center {display: flex;
    justify-content: center;
    align-items: center;}

@mixin flex-column-center { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
}

.flex-horizontal-center { 
    @include flex-horizontal-center;}


.flex-column-center{
    @include flex-column-center;
}


// --------------------COMUNES

// /------------* HEADER */--------------

header div.header-wrapper{
    height: 10vh;
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
    
}

div.logo a{
    color: $color3;
    font-weight: bold;
    text-decoration: none;
}

.barra {
ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: $color3;
}
a:hover{
    color: $color2 ;
}
}


main.home-page{
    height: auto;
}

// /------------* FOOTER */--------------

footer {
    background-color: $color1; 
    color: $color3;
    @include flex-horizontal-center;
    flex-direction:column;
    width:100%;
    justify-content: space-between;
    padding: 20px 80px;
    font-size: 20px;
    margin-top:40px;
    min-height:24vh;    
}

footer .footer-top-container, footer .footer-bottom-container{
    @include flex-horizontal-center;
    width: 100%;
    height: 100%;
}
footer div.footer-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 25%;
    height: 100%;
}
footer div.footer-bottom-container {

    margin-top: 20px
}

footer div.footer-bottom-container div.footer-card{
    width: 100%;
    margin-top:20px
}

footer div.footer-bottom-container div.footer-card p{
    font-size: 14px;
    color: $color2;
}
footer div.footer-card p.footer-content {
    color: $color3;
    margin-bottom: 0px;
    margin-top: 10px
}



footer .footer-card .footer-title{
    margin-bottom: 0px;
}



// PAGES:

/* -------Nosotros */
article.nosotros-card {
    display: flex;
    justify-content: center;
    align-items: start;
    width:100%;
    padding: 20px 0px;
    font-size: 20px;
    margin-top:40px;
    border: none;
}
div.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    object-fit: contain;

    img{
    object-fit: cover;
    }

}

#hero div.hero-image{
    background-image: url('../img/Banner.JPG');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
    
}
#hero div.hero-image div.inset-layout{
    @include flex-horizontal-center;
    flex-direction: column;
    background-color: #000000a3;
    height: 100%;
    padding: 0 200px;
    color: $color3;

}

#hero div.hero-image div.inset-layout h2,
#hero div.hero-image div.inset-layout p{
    color: $color3;
}

#hero div.hero-image div.inset-layout button{
    margin-top: 30px;
}

#hero p {
    display: flex;
    margin: 30px;
    color: $color2;
    @include flex-horizontal-center;

    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
}

h2{ 
    
    color: $color2;
    @include flex-horizontal-center;
    height: auto;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;}
h3 {
    
    color: $color2;
    @include flex-horizontal-center;
    height: 80px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
}
h4{
    
    color: $color2;
    @include flex-horizontal-center;
    height: 80px;
}

a{
    text-decoration: none;
}
.hipervinculo{
    color: white;
}
.hipervinculo:hover{
    color:#B5D99C;
}

.testimonios .resenas p.p-resena{
    color: $color2;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
    span.span-resena{
        font-style: italic;
    }
    .resena-name{
        font-weight: bold;
    }
    

}



p{
    color: $color2;
    font-size: 16px;
    text-align: justify;
    
}

label{ 
    
    color: $color2;
    font-size: 16px;
}

button{ 
    background-color: #FFFF82;
    height: auto;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    transition: all 0.2s  ease-in-out;
    &:hover{
    transform: scale(110%);
    transition: all 0.2s  ease-in-out;
    }
}


button a{
    text-decoration: none;

}

.card h3{
    text-align: justify;
    padding:15px;
    display: flex;
}
.card h4 { 
    text-align: justify;
    padding:15px;
    display: flex;
}
.card p {
    text-align: justify;
    padding:15px;
    display: flex;
}




/* --------------------------------PORTFOLIO-------------------------------- */
/* ------------------------------------------------------------------------- */
.galeria{
    height: auto;
    width: auto;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 200px);
    /* grid-gap: 15px; */
}

.item{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.6s ease;
    border: 5px solid $color3;

}
.item:hover{
    transform: scale(1.15);
    transition: transform 0.8s ease;
}
.item1 {
    background-image: url(../img/laptop.jpg);
}
.item2 {
    background-image: url(../img/RedesSociales.jpg);
}
.item3 {
    background-image: url(../img/DisenoGrafico.jpg);
}
.item4 {
    background-image: url(../img/MarketingDigital.jpg);
}
.item5 {
    background-image: url(../img/laptop.jpg);
}
.item6 {
    background-image: url(../img/RedesSociales.jpg);
}
.item7 {
    background-image: url(../img/DisenoGrafico.jpg);
}
.item8 {
    background-image: url(../img/MarketingDigital.jpg);
}
.item9 {
    background-image: url(../img/laptop.jpg);
}
.item10 {
    background-image: url(../img/RedesSociales.jpg);
}
.item11 {
    background-image: url(../img/DisenoGrafico.jpg);
}
.item12 {
    background-image: url(../img/MarketingDigital.jpg);
}

.item1{
    grid-column: 1/2;
    grid-row: 1/3;
}

.item2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.item3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.item4{
    grid-column: 2/4;
    grid-row: 2/3;
}

.item5{
    grid-column: 1/3;
    grid-row: 3/4;
}
.item6{
    grid-column: 3/4;
    grid-row: 3/4;
}
.item7{
    grid-column: 1/2;
    grid-row: 4/5;
}
.item8{
    grid-column: 2/3;
    grid-row: 4/5;
}
.item9{
    grid-column: 3/4;
    grid-row: 4/5;
}
.item10{
    grid-column: 1/2;
    grid-row: 5/6;
}
.item11{
    grid-column: 2/4;
    grid-row: 5/6;
}
.item12{
    grid-column: 1/4;
    grid-row: 6/7;
}
/* --------------------------------CONTACTO-------------------------------- */
/* ------------------------------------------------------------------------ */
main.contacto{
    padding: 0px 80px;
}
main.contacto h2.contact-title {
    padding-top: 30px;
}
.contact-cards-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.contact-card { 
    
    padding: 20px 80px;
    @include flex-horizontal-center;
    padding: 20px 80px;

}

.contact-card i {
    margin-right: 16px ;
}

div.form-mapa-container{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

div.mapa{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

div.formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px
}

div.formulario-contacto form div.input-wrapper{
    width: 100%;
    margin: 8px 0px;
}

div.formulario-contacto form div.input-wrapper label{
    margin: 16px 0px;

}


div.formulario-contacto form div input.contact-form-input{
    width: 100%;
    height: 32px;
    padding: 4px 16px;
    margin-top: 8px;
}

button#submit-form{
    margin-top: 20px;
    width: 100%;
}

textarea.form-textarea{
    width: 100%;
    height: 200px;
    padding: 16px;
    margin-top: 8px;
}
.texto-contacto{
    margin: 0;
}

 /* banner home page */
#banner {
    display: grid;
    width: 100%;
    grid-template-areas:"dw       rs"
                        "dg        md";
    grid-template-rows: 200px 200px;
    grid-template-columns: 50% 50%;
    padding: 50px 80px;
    column-gap: 24px;
    row-gap: 24px;
}

#banner .card-banner{
    @include flex-horizontal-center;
    flex-direction: column-reverse;
    border: solid 2px black;
    border-radius: 10px;
    height: 150px;
}

.iconos {
    font-size: 28px;
    color: #B5D99C;
}

/* SERVICIOS */
section.services-grid{
    display: grid;
    width: 100%;
    grid-template-areas:"dw1       rs1"
                        "dg1       md1";

    grid-template-columns: 50% 50%;
    padding: 50px 80px;
    column-gap: 24px;
    row-gap: 24px;
}


.texto-servicios {
    
    margin: 16px;
    font-size: 14px;

}


.card-servicios{
    padding: 20px;
    border: solid 2px #B5D99C;
    border-radius: 10px;
    height: auto;
    font: 26px;
}

.iconos-servicios {
    font-size: 28px;
    color: #B5D99C;
    height: auto;
}
#titulo-servicios.title-servicios{
    padding: 0 !important;
    height: auto;
    text-align: center;
    display: block;
}
.ico{
    margin-bottom: 16px;
}
.ico i{
    margin-right: 12px;
    margin-left: 12px;
}

/* BOTON WHATS! */

.what{
    width: 60px;
    height: 60px;
    @include flex-horizontal-center;
    padding:20px;
    background-color: #B5D99C;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 40px;
}
.what a{
    color: $color3;
}

.navbar{
    background-color: $color1 !important;
    overflow-x: hidden;
}
.navbar-custom{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    font-size: 20px;
    color: $color3;
}


@media (max-width: 768px) {

    section.services-grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }   
    footer{
        padding: 20px
    }

    footer div.footer-top-container{
        flex-direction: column;
    }

    footer div .footer-card{
        width:100%;
    }

    footer div.footer-top-container .social-media{
        margin-top: 20px;
        margin-bottom: 20px
    }

    .what{
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    
}

@media (max-width: 768px) {
    section.grid-galeria{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    section.grid-galeria div.item{
        width: 100%;
        height: 300px;

    }
    section.grid-galeria div.item:hover{
        transform: none;
        transition: none;

    }
}

@media (max-width: 1078px){
    section.contacto-custom div.contact-cards-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px; 
    }
    div.form-mapa-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    div.formulario-contacto{
    margin-left: 0;
    }
}


@media (max-width: 768px) {
.contact-card {
    justify-content: start;
    padding: 10px 0px;
}
@media (max-width: 768px) {
    main.contacto {
        padding: 0px 10px;
    }
    section.contacto-custom div.contact-cards-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    }
}
@media (max-width: 1078px){
    #hero div.hero-image div.inset-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    #hero p.p-home{
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 40px;
    }
    section.testimonios {
        
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        .resenas{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    

}

@media (max-width: 480px) {
    h2.titulo-home{
        font-size: 16px;
        height: auto;
        padding: 10px;

    }
    #hero p.p-home{
        // margin: 30px;

        font-size: 16px;
        height: auto;
    }
    button.boton-home{
        border: 30px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    

    #hero div.hero-image div.inset-layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    .testimonios .resenas p.p-resena {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px) {
    section#banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    section h3.titulo-resena{
        padding-left: 30px;
        padding-right: 30px;

    }
    }

/* mediasqueries */